.header {
  width: auto;
  height: 100px;
  font-family: $mainfont;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 10px 0;
  margin-bottom: 75px;
  background-color: $coloritem;
  box-shadow: 0px 6px 10px #aeaeae;
  &__button {
    width: auto;
    height: auto;
    margin: 10px;
    padding: 10px 20px;
    color: #fff;
    background-color: $colorbuttons;
    border-radius: 5px;
    border: none;
    }
}
